.application-wrapper{
  text-align: center;
}

.application-form{
  text-align: left;
  margin: 0 auto;
  width: 550px;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 40px;
  margin-top: 50px;
}