<!DOCTYPE html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h4>Dear <%= @application.first_name %>,</h4>
  <p>
    Thanks for applying to App Academy. To continue with the application proccess,
    you will need to take a coding challenge. 
  </p>
  <p>
    To access the coding challenge please follow this link: 
    <%=  @root_url + "#/coding_challenge/" + @challenge.url %>
  </p>
  <br>
  Sincerely,
  </br>
  The a/A Team.
</body>
</html>